# Folder hasil kompilasi NetBeans
build/
nbproject/private/
nbproject/Package-*.properties
nbproject/Ant-*.properties
dist/
nbbuild/

# File konfigurasi IDE
.nb-gradle/
.settings/
.classpath
.project
.idea/
*.iml

# File hasil kompilasi Java
*.class

# Folder temporary atau log
*.log
tmp/
*.tmp

# Mac OS system files
.DS_Store
